#loginwhole{
	padding-top: 5rem;
	
}

#login{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
min-height: 70vh !important;
background-color: #31a0fa;
border: 5px solid green;
color: #5C4033; 
	


}

#visit{
	padding-top: 12rem;
	padding-left: 6rem;
}

#Facebook{
	margin-right: 1rem;
}


#Instagram{
	margin-right: 2rem;
}

#register{
	
	font-family: 'Montserrat';
	background-color: lightgray;
border: 5px solid green;
	font-style: normal;
font-weight: 600;
font-size: 18px;
}

#registerpad{
	padding-top: 5rem;
	color: #5C4033; 
}

#allPro{
	font-family: 'Montserrat';
	font-style: normal;
font-weight: 500;
font-size: 18px;
}

#loginButton{
  font-family: 'Montserrat';
  font-style: normal;
font-weight: 600;
font-size: 25px;
}

