#navbar{
	color: #5C4033;
	

}

#home{
	color: #765C3D;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
}


#bghome{
	font-family: 'Montserrat';
	padding-top: 10rem;
	padding-left: 3rem;
	background-color: gray;
	background: 
linear-gradient(
	rgba(0, 0, 0, 0.10),
	rgba(0, 0, 0, 0.10)

),

		url("./image/bg1.jpg");
		background-repeat: no-repeat;
		background-size: cover;

		
	
}
#banner{
	
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
}
#con{
	font-style: normal;
	font-weight:400;
	font-size: 30px;
}
#but{
	font-style: normal;
	font-weight:100;
	font-size: 17px;

}

#lights{
	background-color: whitesmoke;
	color: #665036;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	border: 2px solid darkkhaki;
	 
}

#hot{
	background-color: whitesmoke;
	color: #665036;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	border: 2px solid darkkhaki;
	 
}
#card{
	background-color: whitesmoke;
	color: #665036;
	font-family: 'Montserrat';
	margin: auto;
  


}

#productVi{
	background-color: whitesmoke;
	color: #665036;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	background-color: gray;
}
#view{
	font-weight: 800;
	font-size: 25px;

}

#view2{
	font-weight: 700;
	font-size: 18px;
}

/*#submitBtn{
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 18px;
}*/
